<style>
    #Home {
        height: 100%;
    }
</style>
<section id="content">
    <div id="Home" class="container">
        <script>       

            var dialogPosition = $("#set-position-form").dialog({
                autoOpen: false,
                height: 170,
                width: 220,
                modal: true,
                buttons: {
                    "Set": setPosition,
                    Cancel: function () {
                        dialogPosition.dialog("close");
                    }
                },
                close: function () {

                }
            });
            var dialogVideo360 = $("#set-video-360-form").dialog({
                autoOpen: false,
                height: 370,
                width: 400,
                modal: true,
                buttons: {
                    "Set": setVideo360,
                    Cancel: function () {
                        dialogVideo360.dialog("close");
                    }
                },
                close: function () {

                }
            });
            var dialogView3D = $("#set-view-3d-form").dialog({
                autoOpen: false,
                height: 370,
                width: 400,
                modal: true,
                buttons: {
                    "Set": setView3D,
                    Cancel: function () {
                        dialogView3D.dialog("close");
                    }
                },
                close: function () {

                }
            });
            function getScope() {
                return angular.element(document.getElementById('Home')).scope();
            }
            function setPosition() {
                var position = parseInt($("#position").val());
                var scope = getScope();
                scope.setPositionForSelectedItem(position);
                dialogPosition.dialog("close");
            }
            function setVideo360() {
                var video360 = ($("#video360").val());
                var scope = getScope();
                scope.setVideo360ForSelectedStore(video360);
                dialogVideo360.dialog("close");
            }  
            function setView3D() {
                var view3d = ($("#view3d").val());
                var scope = getScope();
                scope.setView3DForSelectedItem(view3d);
                dialogView3D.dialog("close");
            }     
        </script>
        <div class="row">
            <div class="col-md-4">
                <div class="row" ng-repeat="store in stores">
                    <div class="col-md-12" style="display:inline-flex">
                        <button style="width: 70%" ng-click="selectStore(store)">{{store.name}}</button>
                        <button ng-click="setVideo360(store)" style="width: 30%;">Video 360</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div ng-repeat="item in selectedStore.items | orderBy:'position'">
                    <div class="row">
                        <div class="col-md-12" style="display:inline-flex">
                            <button style="width: 90%;">{{item.name}} - at {{item.position}}</button>
                            <button ng-click="removePosition(item)" style="width: 10%; ">Del</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" ng-repeat="item in items" ng-hide="!(selectedStore)">

                    <div class="col-md-12" style="display:inline-flex">
                        <button ng-click="selectItem(item)" style="width: 70%; ">{{item.name}}</button>
                        <button ng-click="setView3D(item)" style="width: 30%">3D View</button>
                    </div>

                </div>
            </div>
        </div>
        <div id="set-position-form" title="Set Position">
            <form>
                <fieldset>
                    <input type="text" name="position" id="position" value="" class="text ui-widget-content ui-corner-all">
                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                </fieldset>
            </form>
        </div>
        <div id="set-video-360-form" title="Set Video 360">
            <form>
                <fieldset>
                    <textarea type="text" name="video360" id="video360" value="" cols="38" rows="10" class="text ui-widget-content ui-corner-all"></textarea>
                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                </fieldset>
            </form>
        </div>
        <div id="set-view-3d-form" title="Set View 3D">
                <form>
                    <fieldset>
                        <textarea type="text" name="view3d" id="view3d" value="" cols="38" rows="10" class="text ui-widget-content ui-corner-all"></textarea>
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </fieldset>
                </form>
            </div>
        <br />

        <button ng-click="save()">Save</button>
    </div>
</section>