<style>
    #Home {
        height: 100%;
    }
</style>

<div id="Home" class="container">
    <script>       
    
        var dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Set": setPosition,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                
            }
        });        
        function getScope() {
            return angular.element(document.getElementById('Home')).scope();
        }
        function setPosition() {
            var position = parseInt($("#position").val());
            var scope = getScope();
            scope.setPositionForSelectedItem(position);
            dialog.dialog( "close" );
        }        
    </script>
    <div>
        <div style="width:300px">

            <button ng-repeat="store in stores" ng-click="selectStore(store)">{{store.name}}</button>

        </div>
        <div>
            <div ng-repeat="item in selectedStore.items | orderBy:'position'">
                <div class="row">
                    <div class="col">
                        <button ng-click="selectStore(store)" style="width: 100%; height: 100%;">{{item.name}} - at {{item.position}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:300px">
            <div ng-repeat="item in items" ng-hide="!(selectedStore)">
                <div class="row">
                    <div class="col">
                        <button ng-click="selectItem(item)" style="width: 100%; height: 100%;">{{item.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-form" title="Set Position">
        <form>
            <fieldset>
                
                <input type="text" name="position" id="position" value="" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <button ng-click="save()">Save</button>
</div>